.Board__container {
  padding-right: 3rem;
}

.Board__title {
  margin-left: 3rem;
  color: #7b7c89;
  font-weight: 500;
}

.react-kanban-board {
  color: white;
  background: rgba(46, 49, 56, 0.8);
  gap: 2rem;
  padding: 1rem 0.75rem;
  border-radius: 18px;
  overflow-y: scroll !important;
}

.react-kanban-column {
  background: #ffffff;
  color: black;
  height: fit-content;
  min-width: 12.5rem;
  margin-right: 1rem;
  border-radius: 18px;
}

.react-kanban-column-header {
  padding: 0.6rem;
  background-color: #60687c;
  border-radius: 12px 12px 0px 0px;
  color: #e6e7ea;
}

.List__cards,
[data-rbd-droppable-context-id="1"],
[data-rbd-droppable-context-id="0"] {
  padding: 0.5rem 1rem;
}

hr {
  width: 100%;
}

.List__card {
  background-color: #f3f4f5;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.List__card__name {
  color: #383d47;
  font-size: 1.5rem;
}

.List__card__description {
  color: #888f9e;
}

.List__card__priority,
.List__card__date {
  color: #6a7284;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.List__card__priority span {
  padding: 0rem 0.5rem;
}

.List__card__tag {
  color: #6a7184;
}

.cretical {
  background-color: #f8e1dd;
  color: #ff3716;
}

.high {
  background-color: #f5eddb;
  color: #d19b16;
}

.standard {
  background-color: #dcf0dc;
  color: #07ba07;
}
