.sidebar__container {
  justify-content: space-between;
  background-color: #acacaf;
  background: rgba(172, 172, 175, 0.8);
  color: black;
  height: 90%;
}

.sidebar__icons,
.sidebar__help {
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  color: #383d47;
  gap: 1.5rem;
}

.sidebar__logo {
  height: 2.75rem;
  width: 3.125rem;
  padding: 1rem 0.5rem;
  margin: 1rem 0rem 3rem;
}
