hr {
  width: 100%;
}

.List__card {
  background-color: #f3f4f5;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.List__card__name {
  color: #383d47;
  font-size: 1.5rem;
}

.List__card__description {
  color: #888f9e;
}

.List__card__priority,
.List__card__date {
  color: #6a7284;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.List__card__priority span {
  padding: 0rem 0.5rem;
}

.List__card__tag {
  color: #6a7184;
}
